<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>127247108965-9a0gv4q7buq6iq6vkcvjlspfbpevdqen.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.127247108965-9a0gv4q7buq6iq6vkcvjlspfbpevdqen</string>
	<key>API_KEY</key>
	<string>AIzaSyC7pDVy5Yah_mIUIiUA8q3TCie1J2Z0Uzo</string>
	<key>GCM_SENDER_ID</key>
	<string>127247108965</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>es.upsa.mimo.Plants-iOS</string>
	<key>PROJECT_ID</key>
	<string>plants-ios-af107</string>
	<key>STORAGE_BUCKET</key>
	<string>plants-ios-af107.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:127247108965:ios:4bc757380b40482d1faf8c</string>
</dict>
</plist>